.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.popup .popup-text {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -35px;
}

.popup .popup-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fade-in-out 1s;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
