html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

.center {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#head {
    user-select: none;
}

.score-container {
    display: inline-block;
    background: #bbada0;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-align: center;
    vertical-align: top;
    height: 50px;
}

.score-container .score-title {
    font-size: 15px;
    padding: 0 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.score-container #score {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 0;
}

button {
    background: #8f7a66;
    border-radius: 3px;
    border: 0;
    color: #f9f6f2;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

#new-game {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    margin-left: 10px;
}

#seed-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#seed {
    vertical-align: top;
    display: block;
    resize: none;
    height: 24px;
    width: 240px;
    border: none;
    border-radius: 3px;
    padding: 13px 0 13px 20px;
    font-size: 19px;
    background: #bbada0;
    color: white;
    font-weight: bold;
}

#current-seed {
    font-size: 15px;
    margin-top: 26px;
    display: inline-block;
    font-family: monospace;
    width: 200px;
    vertical-align: top;
}

#seed-buttons {
    display: inline-block;
    margin-left: 10px;
}

#seed-buttons > * {
    display: block;
    margin-top: 5px;
}

.game-container {
    margin-top: 40px;
    cursor: default;
    user-select: none;
}

.grid-container {
    background-color: #bbada0;
    width: 470px;
    height: 470px;
    padding: 14px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.numbers-container {
    padding: 14px;
    position: absolute;
    z-index: 2;
}

.grid-row {
    display: flex;
    margin-bottom: 14px;
}

.grid-row:last-child {
    margin-bottom: 0;
}

.empty-cell {
    width: 107px;
    height: 107px;
    margin-right: 14px;
    float: left;
    display: flex;
    border-radius: 3px;
    background: #CDC1B4;
}

.empty-cell:last-child {
    margin-right: 0;
}


